# Ignore Python bytecode files
*.pyc
__pycache__/

# Ignore virtual environment
venv/
.env/

# Ignore data files
data/

# Ignore all models, except specific ones
# models/
!models/needed_model.bin

# Ignore Git files
.git/
.gitignore

# Ignore editor files
.vscode/
.idea/

# Ignore OS-specific files
.DS_Store
Thumbs.db

# Ignore documentation files
README.md
docs/


# Ignore any data files
data/
